*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $black-color;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.big-container {
  max-width: 2000px;
  padding: 0 40px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  padding-top: 150px;
}

.title {
  font-family: 'Oswald', sans-serif;
  padding-left: 140px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-image: url('../img/lines-title.svg');
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 70px;
}

.slick-arrow {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 2px solid #005BC1;
  z-index: 10;
  transition: background-color .3s;
  outline: none;

  svg {
    stroke: $accent-color;
    transition: stroke .3s;
  }

  &:hover {
    background-color: $accent-color;

    svg {
      stroke: $white-color;
    }
  }
}

.tabs-content {
  display: none;

  &.active {
    display: block;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;

  li {
    margin: 0 8px;
  }

  li.slick-active button {
    background-color: $accent-color;
  }

  button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: $white-color;
    border: 2px solid $accent-color;
    font-size: 0;
  }

}

.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $white-color;
  width: 80%;
  height: 100vh;
  max-width: 400px;
  z-index: 20;
  padding: 15px;
  transform: translateX(-100%);
  transition: transform .3s;

  &.active {
    transform: translateX(0);
  }
}

.mobile-menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-menu__link {
  display: block;
  padding: 20px 20px;
  font-size: 24px;
  color: $accent-color;
}

.overlay {
  position: fixed;
  z-index: 19;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black-color, .7);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
