*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $black-color;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.big-container {
  max-width: 2000px;
  padding: 0 40px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  padding-top: 150px;
}

.title {
  font-family: 'Oswald', sans-serif;
  padding-left: 140px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-image: url('../img/lines-title.svg');
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 70px;
}

.slick-arrow {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 2px solid #005BC1;
  z-index: 10;
}

.tabs-content {
  display: none;

  &.active {
    display: block;
  }
}

